streamlit>=1.38.0
graspologic
openai
transformers==4.42.0
torch==2.4.0
numpy==1.26.4
pandas
scikit-learn==1.5.2
matplotlib==3.9.2
beautifulsoup4
requests
tqdm
sentence-transformers
faiss-cpu
rank_bm25
nltk
sacrebleu
rouge_score
bert_score
hf_transfer
datasets
devtools
tiktoken
fnllm
litellm
azure-identity
azure-storage-blob
azure-cosmos
azure-ai-formrecognizer
azure-ai-ml
azure-core
azure-search-documents
lancedb
aiofiles
graspologic-native
spacy
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_md-0.5.4.tar.gz